html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
}

body {
  margin: 0;
  overflow-y: scroll;
}

@media print {
  .no-printme {
    display: none;
  }
  .printme {
    display: block;
  }
  .bg {
    background-color: rebeccapurple;
  }
}
